@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), url('./fonts/Marck Script/MarckScript-Regular.ttf')
        format('tff'), url('./fonts/Marck Script/MarckScript-Regular.eot')
        format('eot'), url('./fonts/Marck Script/MarckScript-Regular.woff')
        format('woff');
}

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url('./fonts/Lobster/Lobster-Regular.ttf');
    /* Конвертер почему-то отказался генерировать .eot и .woff для Lobster. */
}

@font-face {
    font-family: 'Ruslan Display';
    src: local('Ruslan Display'), url('./fonts/Ruslan Display/RuslanDisplay.ttf')
        format('tff'), url('./fonts/Ruslan Display/RuslanDisplay.eot')
        format('eot'), url('./fonts/Ruslan Display/RuslanDisplay.woff')
        format('woff');
}

@font-face {
    font-family: 'Coiny';
    src: local('Coiny'), url('./fonts/Coiny/Coiny-Regular.ttf')
        format('tff'), url('./fonts/Coiny/Coiny-Regular.eot')
        format('eot'), url('./fonts/Coiny/Coiny-Regular.woff')
        format('woff');
}

@font-face {
    font-family: 'Satisfy';
    src: local('Satisfy'), url('./fonts/Satisfy/Satisfy-Regular.ttf')
        format('tff'), url('./fonts/Satisfy/Satisfy-Regular.eot')
        format('eot'), url('./fonts/Satisfy/Satisfy.woff')
        format('woff');
}

body
{
    font: 18pt 'Marck Script', cursive;
    background-color: #ffffe0;
    border: 2px solid #d3d3d3;
}

.head
{
    font: 42pt 'Coiny', cursive;
    background-color: #ededed;
    text-shadow: 4px 4px #e0e0e0;
}

.center {
    text-align: center;
}

.date
{
    font-family: 'Satisfy', cursive;
}

.configurations
{
    font-family: 'Coiny', cursive;
}

.articles
{
    font: 18pt 'Marck Script', cursive;
    text-overflow: ellipsis;
    padding: 5px;
    background-color: #ffffe0;
}

.col-2
{
    column-count: 2;
    column-rule: 2px solid #d3d3d3;
    -moz-columns: 2;
    -moz-column-rule: 2px solid #d3d3d3;
    -webkit-columns: 2;
    -webkit-column-rule: 2px solid #d3d3d3;
}

.col-3
{
    column-count: 3;
    column-rule: 2px solid #d3d3d3;
    -moz-columns: 3;
    -moz-column-rule: 2px solid #d3d3d3;
    -webkit-columns: 3;
    -webkit-column-rule: 2px solid #d3d3d3;
}

.article-header,
.ruslan-display:checked ~ .articles
{
    font-family: 'Ruslan Display', cursive;
}

.paragraph-header,
.lobster:checked ~ .articles
{
    font-family: 'Lobster', cursive;
}

.quotes
{
    margin: 7px;
    border: 1px solid #d3d3d3;
    padding: 10px;
}

.image
{
    border: 1px solid #d3d3d3;
    padding: 0;
    margin: 5px;
}

.image > img
{
    width: 100%;
}

.first-paragraph::first-letter
{
    font: 150% 'Lobster', cursive;
    color: #d3d3d3;
}

.special
{
    margin-left: 45%;
    word-break: break-all;
    width: 1em;
    line-height: 1em;
    font-family: monospace;
}

.field
{
    text-indent: 15px;
    margin-top: 20px;
}

.large:checked ~ .articles
{
    font-size: 24pt;
}

.normal:checked ~ .articles
{
    font-size: 18pt;
}

.small:checked ~ .articles
{
    font-size: 14pt;
}

.marck-script:checked ~ .articles
{
    font-family: 'Marck Script', cursive;
}

.white:checked ~ .articles
{
    color: #000;
    background-color: #ffffe0;
}

.black:checked ~ .articles
{
    color: #fff;
    background-color: #000;
}
