@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Chewy);

/* Handwriting */
@import url(https://fonts.googleapis.com/css?family=Courgette|Handlee|Merienda);

.image-container {
    break-inside: avoid;
    display: block;
    column-count: 2;
}

img {
    column-span: all;
    display: block;
    width: 100%;
    border-radius: 8px;
    filter: sepia(75%);
}

div
{
    column-count: 2;
    column-width: 200px;
    column-rule: 1px solid #000;
}

main
{
    background-image: url(images/bg-light.jpg);
}

header
{
    font-family: 'Lily Script One', cursive;
    text-align: center;
    font-size: 3em;
}

h2
{
    font-family: 'Chewy', cursive;
    column-span: all;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
}

h3
{
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
}

h3 + p:first-letter
{
    font-size: 2em;
}

p
{
    font-family: 'Roboto Condensed', sans-serif;
}

hr
{
    border: 0;
    border-top: 6px double #000;
}

input[value='small']:checked ~ main
{
    font-size: .7em;
}

input[value='large']:checked ~ main
{
    font-size: 1.3em;
}

input[value='dark']:checked ~ main
{
    background-image: url(images/bg-dark.jpg);
    color: #fff;
}

input[value='dark']:checked ~ main hr
{
    border-top-color: #fff;
}

input[value='dark']:checked ~ main div
{
    column-rule-color: #fff;
}

input[value='handwriting']:checked ~ main header
{
    font-family: 'Courgette', cursive;
}

input[value='handwriting']:checked ~ main p
{
    font-family: 'Handlee', cursive;
}

input[value='handwriting']:checked ~ main h3
{
    font-family: 'Merienda', cursive;
}

input[value='dark']:checked ~ main img
{
    filter: grayscale(100%);
}
