@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Underdog');
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face
{
    font-family: 'AlexandraScriptRegular';
    src: url('AlexandraScriptRegular.eot');
    src: url('AlexandraScriptRegular.eot?#iefix') format('embedded-opentype'), url('AlexandraScriptRegular.woff') format('woff'), url('AlexandraScriptRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body
{
    background: #fde1c4;
    font-family: 'Times New Roman', Times, serif;
}

h1
{
    font-family: 'Poiret One', cursive;
    font-style: italic;
    align-self: center;
    text-align: center;
}

.info-bar
{
    font-family: 'Pattaya', sans-serif;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

footer
{
    font-family: 'Lobster', cursive;
    border-top: 1px solid #000;
}

.columns-3
{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-fill: auto;
    -moz-column-rule: 2px solid #000;
    column-rule: 2px solid #000;
    margin-right: 15px;
}

.columns-2
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-fill: auto;
    -moz-column-rule: 1px solid black;
    column-rule: 1px solid black;
}

.span
{
    column-span: all;
}

h3,
h4
{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.article-content
{
    font-family: 'Philosopher', sans-serif;
    hyphens: auto;
}

.article-content:first-letter
{
    font-size: 200%;
    font-weight: bold;
}

.great-speach
{
    font-family: 'AlexandraScriptRegular';
    font-size: 60px;
}

.great-speach .sign
{
    text-align: right;
}

.image
{
    border: 1px solid #c0c0c0;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

figcaption
{
    font-family: 'Underdog', cursive;
    font-size: 85%;
    margin-top: 4px;
}

.vertical-text
{
    font-family: 'Coiny', cursive;
    width: .4em;
    word-wrap: break-word;
    font-size: 80%;
    text-align: center;
}
