@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

.old-paper-page
{
    margin: auto;
    background: radial-gradient(at top, #fff8e1, #ffe0b2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    min-width: 850px;
    max-width: 1200px;
}

header
{
    width: 100%;
}

.main-title
{
    color: #769548;
    font-size: 78px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Kurale', serif;
    text-align: center;
    text-shadow: 0 1px 0 #efebe9, 0 3px 0 #d2d7d0, 0 6px 0 #757575;
    letter-spacing: 15px;
}

.page-newspaper
{
    margin: auto;
    text-align: center;
}

.main-news
{
    margin: auto;
    border-right: double;
    padding: 10px 15px;
    width: 600px;
    display: inline-block;
}

.news-item
{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -moz-column-rule-style: solid;
    -webkit-column-rule-style: solid;
    column-rule-style: solid;
}

.extra-news-column
{
    vertical-align: top;
    text-align: justify;
    margin: auto;
    padding: 10px 15px;
    width: 200px;
    display: inline-block;
}

.links
{
    width: 100%;
    text-align: center;
    display: table;
    vertical-align: top;
}

.link
{
    font-family: 'Kaushan Script', cursive;
    color: red;
    letter-spacing: 10px;
    display: table-cell;
}

.link:hover
{
    -webkit-transform: scale(1.5);
    -ms-ransform: scale(1.5);
    transform: scale(1.5);
}

a
{
    text-decoration: none;
}

.title,
.extra-title
{
    -moz-column-span: all;
    column-span: all;
    padding: 5px;
    color: #795548;
    text-align: left;
    font-family: 'PT Mono', monospace;
    box-shadow: 0 0 0 7px #4e342e, 0 0 10px 7px #b3c4bb;
    hyphens: auto;
    text-transform: uppercase;
}

.title:first-letter,
.number-in-title
{
    font-size: 2.5em;
    padding: 2px 10px;
    background: #fff8e1;
    border: 4px solid;
    color: #e96;
    float: left;
    font-weight: bold;
}

.number-in-title
{
    color: red;
}

.report
{
    padding: 5px;
    color: #d84315;
    text-align: justify;
    font-family: 'RuslanDisplay', cursive;
    word-break: normal;
    hyphens: auto;
}

.quote
{
    text-align: center;
    border: 2px dotted #263238;
    hyphens: auto;
    margin: 0;
}

.quote-text
{
    color: #607d8b;
}

.report:nth-child(2n + 1)
{
    text-align: right;
    color: #5d4037;
    font-family: 'Pattaya', sans-serif;
}

.autor-block
{
    color: white;
    text-align: center;
    background-color: #3e2723;
}

.snake-rules li
{
    padding: 10px;
    text-align: justify;
    border-bottom: solid;
}

.snake-rules li:nth-child(2n)
{
    border-right: 1px solid;
}

.snake-rules li:nth-child(2n+1)
{
    border-left: 1px solid;
}

.cards-list
{
    list-style: none;
    padding: 0;
}

.cards-list .card
{
    margin: 10px 0;
    padding: 5px;
    border-radius: 2px;
    border-left: 10px solid #d7ccc8;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1), -2px -2px 5px 0 rgba(0,0,0,.1);
    letter-spacing: 2px;
}

.cards-list .average-card
{
    border-color: #bcaaa4;
}

.cards-list .dark-card
{
    border-color: #a1887f;
}

.big-pic
{
    border: solid;
    display: block;
    margin: 15px auto;
    width: 600px;
}

.small-pic
{
    width: 200px;
}

.text-column
{
    word-break: break-all;
    width: 10px;
}
