@font-face
{
    font-family: 'LetoOneDefect';
    src: url('fonts/LetoOneDefect/LetoOneDefect.ttf'), url('fonts/LetoOneDefect/LetoOneDefect.woff');
}
@font-face
{
    font-family: 'RodchenkoInlineC';
    src: url('fonts/RodchenkoInlineC/RodchenkoInlineC.ttf'), url('fonts/RodchenkoInlineC/RodchenkoInlineC.woff');
}

html
{
    font-family: 'LetoOneDefect', 'Arial Narrow', 'sans-serif';
}

.note
{
    display: block;
    border: 2px solid black;
    width: 1200px;
    margin: auto;
    vertical-align: top;
}

.titleNote
{
    margin: auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

.titleNote .month
{
    letter-spacing: 7px;
}

.bodyNote
{
    display: table-cell;
    width: 1000px;
    padding: 10px 0;
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
    font-size: 11px;
}

.title
{
    width: 1200px;
    margin: auto;
    padding: 10px 5px;
}

.logo
{
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 580px;
    height: 205px;
    margin: 0 5px 0 0;
}

.logo .imageLogo
{
    display: inline-block;
    height: 150px;
    position: relative;
    top: 20px;
    z-index: 2;
}

.logo .nameNewspaper
{
    z-index: 1;
    font: 120px 'RodchenkoInlineC';
    display: inline-block;
    height: 150px;
    letter-spacing: 15px;
}

.logo .motto
{
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: right;
    text-transform: uppercase;
    font: italic 18px serif;
    text-decoration: underline;
}

.logo .publisher
{
    text-align: center;
    font: 20px serif;
    padding: 5px 0;
    letter-spacing: -1px;
    font-stretch: ultra-condensed;
}

.congratulations
{
    padding: 10px;
    display: inline-block;
    width: 580px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.congratulations .congratulationsHeader
{
    text-align: center;
    margin: 5px 0;
}

.congratulations .congratulationsBody
{
    display: inline-block;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    font-size: 10px;
    overflow: hidden;
}

.container
{
    width: 1200px;
    margin: auto;
}

.containerTabs
{
    display: inline-block;
    border: 2px solid black;
}

.tabs .tab
{
    vertical-align: middle;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #000;
    padding: 0 25px;
    font: bold 14px monospace;
}

.bodyNewspaper
{
    border: 1px solid #000;
    min-height: 2200px;
    height: 1px;
}

.leftColumnNews
{
    vertical-align: top;
    display: inline-block;
    width: 900px;
}

.firstNews
{
    border-bottom: 1px solid #000;
}

.firstNews .titleFirstNews
{
    font-family: sans-serif;
    margin: 5px 25px;
}

.firstNews .imageFirstNews
{
    width: 700px;
    margin: 10px 25px;
}

.firstNews .bodyFirstNews
{
    padding: 10px 25px;
    display: inline-block;
    font-size: 12px;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 20px;
}

.rightColumnNews
{
    padding: 0 10px;
    display: inline-block;
    border-left: 1px solid #000;
    height: 100%;
}

.rightColumnNews .mainTitleRightColumnNews
{
    text-align: center;
}

.rightColumnNews .titleRightColumnNews
{
    text-align: center;
    margin: 10px;
}

.rightColumnNews .bodyRightColumnNews
{
    display: inline-block;
    width: 266px;
    font-size: 12px;
    text-align: justify;
}

.secondNews
{
    border-bottom: 1px solid #000;
}

.leftColumnSecondNews
{
    padding: 10px;
    display: inline-block;
    width: 350px;
}

.leftColumnSecondNews .titleLeftColumnSecondNews
{
    text-align: center;
}

.leftColumnSecondNews .bodyLeftColumnSecondNews
{
    display: inline-block;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    font-size: 12px;
}

.rightColumnSecondNews
{
    vertical-align: top;
    padding: 10px;
    display: inline-block;
    width: 500px;
    border-left: 1px solid #000;
}

.rightColumnSecondNews .titleRightColumnSecondNews
{
    text-align: center;
}

.rightColumnSecondNews .bodyRightColumnSecondNews
{
    display: inline-block;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    font-size: 12px;
}

.thirdNews .titleThirdNews
{
    padding: 10px 20px;
    margin: 3px;
    text-align: right;
}

.thirdNews .bodyThirdNews
{
    display: inline-block;
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;
    font-size: 10px;
    padding: 10px;
}

.paragraph:first-child:first-letter
{
    font-size: 20px;
}

.quote
{
    background-color: #f7f7f7;
    font-style: italic;
    font-size: 105%;
}
