body
{
    background: linear-gradient(to bottom, #deb887, #bdb76b);
    font-family: 'Kelly Slab', cursive, Verdana, Arial, Calibri, sans-serif;
    padding: 10px;

}

header
{
    display: block;
    font: Times Arial;
    text-align: center;
    text-shadow: 4px 4px #808080;
}

header h1
{
    color: red;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

header h2
{
    border-top: 4px double black;
    border-bottom: 4px double black;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'Brock Script_D';
    src: url('BScript_D.eot?') format('eot'), 
        url('BScript_D.woff') format('woff'), 
        url('BScript_D.ttf') format('truetype'), 
        url('BScript_D.svg#BrockScript_D') format('svg');
    font-weight: normal;
    font-style: normal;
}

.first
{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-rule: 2px solid black;
    padding: 2px;
}

.second
 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    column-rule: 2px solid black;
    padding: 2px;
}

.card
{
    border: 1px solid black;
    width: 350px;
    height: 310px;
}

.card img
{
    padding: 0;
    margin: 0;
    text-align: center;
}

.third
{
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    column-rule: 2px solid black;
    padding: 5px;
}

img
{
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    width: 350px;
    float: left;
    display: block;

}

h3,
h4
{
    text-align: center;
    -webkit-column-span: all;
    column-span: all;
    display: block;

}

section
{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

}

p:first-of-type::first-letter 
{
    font-family: 'Brock Script_D';
    color: #f00;
    font-size: 250%;
    text-shadow: 2px 2px #808080;
    margin: 2px;
}

blockquote
{
    font-family: 'Yeseva One', cursive;
}

.black-and-white:checked ~ .newspaper
{
    background: black;
    color: white;
}

.switch-font:checked ~ .newspaper
{
    font-family: 'PT Sans Narrow', sans-serif;
}

.large-font:checked ~ .newspaper
{
    font-size: larger;
}

.small-font:checked ~ .newspaper
{
    font-size: smaller;
}

footer 
{
    display: inline-block;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    clear: both;
    width: 100%;
    border-top: 4px double black;
}
