@font-face
{
    font-family: 'Bad Script';
    src: url(BadScript.woff2) format('woff2'), url(BadScript.woff) format('woff');
}

@font-face
{
    font-family: 'Lobster';
    src: url(Lobster.woff2) format('woff2'), url(Lobster.woff) format('woff');
}

@font-face
{
    font-family: 'Ruslan Display';
    src: url(RuslanDisplay.woff2) format('woff2'), url(RuslanDisplay.woff) format('woff');
}

body
{
    background: #fafad2;
}

header
{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

.logo
{
    position: absolute;
    width: 70%;
}

.logo > h1
{
    font: 40px 'Lobster';
    text-align: center;
}

.weather
{
    width: 25%;
    margin-left: auto;
    border-left: solid 2px #000;
}

.weather > div
{
    display: inline-block;
    width: 48%;
    text-align: center;
    margin: 18px 0;
}

.info
{
    flex: 1 100%;
    text-align: center;
    border-top: solid 2px #000;
}

main
{
    width: 70%;
    margin: 10px;
}

.main-news,
.other-news
{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-rule: solid 1px #d3d3d3;
    -webkit-column-rule: solid 1px #d3d3d3;
    column-rule: solid 1px #d3d3d3;
}

article
{
    margin: 10px;
    padding: 10px;
}

.main-news
{
    border: double 4px #000;
    margin: 10px 0;
    padding: 10px 0;
}

h2
{
    color: #1e90ff;
    margin-top: 0;
    column-span: all;
    text-align: center;
    font-size: 30px;
    font-family: 'Ruslan Display', cursive;
    text-shadow: 2px 2px 2px #000;
}

h3
{
    text-shadow: 1px 1px 5px #808080;
}

.pic
{
    display: inline-block;
    text-align: center;
    color: #808080;
}

.pic > img
{
    border: solid 1px #808080;
    border-radius: 5px;
    max-width: 100%;
}

.pic > span,
.weather > div > span
{
    display: block;
}

p
{
    word-wrap: break-word;
}

p:first-letter
{
    color: #f00;
    font-size: 24px;
}

p > q
{
    display: block;
    font-style: italic;
    margin: 1em 10%;
}

footer
{
    flex: 1 100%;
    border-top: solid 2px #000;
    padding: 10px;
}

section
{
    position: absolute;
    width: 25%;
    right: 10px;
}

section > q
{
    font-family: 'Bad Script', cursive;
}

section > div
{
    color: #808080;
    text-align: right;
    padding: 5px 0;
}
