@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Ultra');

@font-face
{
    font-family: 'Plain Germanica';
    src: local('Plain Germanica');
    src: url('fonts/plain_germanica.woff') format('woff');
    src: url('fonts/plain_germanica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* COLUMN */

.col-2
{
    -moz-column-count: 2;
    column-count: 2;
}

.col-3
{
    -moz-column-count: 3;
    column-count: 3;
}

.col-all
{
    -moz-column-span: all;
    column-span: all;
}

.col-separate
{
    -moz-column-rule: 1px solid #333;
    column-rule: 1px solid #333;
}

/* MAIN */

html
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    font: 16px 'Exo', sans-serif;
}

.newspaper-wrap
{
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
}

.newspaper-header
{
    padding: 0 16px;
    overflow: hidden;
}

.newspaper-header h1
{
    font-family: 'Plain Germanica', serif;
    font-size: 3.7em;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.newspaper-date
{
    border-top: 1px solid #333;
    border-bottom: 3px solid #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.newspaper-date p
{
    margin: 5px 0;
}

main
{
    padding: 16px;
}

.newspaper-news header
{
    margin: 1.5em 0 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
}

.newspaper-news header .horizon-separate
{
    margin: 0 30%;
    border-bottom: 3px solid #333;
    display: block;
}

.newspaper-news header h3
{
    font-weight: 200;
}

.newspaper-news article
{
    text-align: justify;
}

.author
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.author + p:first-letter
{
    font-family: 'Plain Germanica', serif;
    font-size: 3.5em;
}

.newspaper-news q
{
    font-weight: bold;
    font-style: italic;
}

.newspaper-news figure
{
    margin: 0 auto;
}

.newspaper-news figure img
{
    margin: 0 auto;
    height: 300px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.newspaper-news figcaption
{
    font-size: .4em;
    text-align: right;
}

.top-separate
{
    border-top: 1px solid #333;
}

.vertical-title
{
    white-space: pre-line;
    display: inline-block;
    width: 30px;
    margin: 0;
    padding: 0;
}

figcaption.big-figcaption
{
    font-size: .8em;
}

/* TOOLS */

input
{
    display: none;
}

label
{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #ff6e40;
    margin: 16px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    z-index: 999;
    right: 0;
    bottom: 0;
    transition-property: transform;
    transition-duration: .3s;
}

.tools:checked ~ label[for='tools']
{
    transform: rotate(-360deg);
}

.tools:checked ~ label[for='night']
{
    transform: translate(-72px, -72px);
}

.tools:checked ~ label[for='size-150']
{
    transform: translateX(-72px);
}

.tools:checked ~ label[for='size-125']
{
    transform: translateX(-144px);
}

.tools:checked ~ label[for='size-100']
{
    transform: translateX(-216px);
}

.tools:checked ~ label[for='size-75']
{
    transform: translateX(-288px);
}

.tools:checked ~ label[for='size-50']
{
    transform: translateX(-360px);
}

.tools:checked ~ label[for='normal']
{
    transform: translateY(-72px);
}

.tools:checked ~ label[for='handwritten']
{
    transform: translateY(-144px);
    font-family: 'Dancing Script', cursive;
}

.tools:checked ~ label[for='ultra']
{
    transform: translateY(-216px);
    font-family: 'Ultra', serif;
}

.night-mode:checked ~ .newspaper-wrap
{
    background-color: #333;
    color: #fff;
}

.night-mode:checked ~ .newspaper-wrap .newspaper-date,
.night-mode:checked ~ .newspaper-wrap .horizon-separate
{
    border-top: 1px solid #fff;
    border-bottom: 3px solid #fff;
}

.night-mode:checked ~ .newspaper-wrap .col-separate
{
    -moz-column-rule: 1px solid #fff;
    column-rule: 1px solid #fff;
}

.night-mode:checked ~ .newspaper-wrap .top-separate
{
    border-top: 1px solid #fff;
}

.size-50:checked ~ .newspaper-wrap
{
    font-size: .5em;
}

.size-75:checked ~ .newspaper-wrap
{
    font-size: .75em;
}

.size-125:checked ~ .newspaper-wrap
{
    font-size: 1.25em;
}

.size-150:checked ~ .newspaper-wrap
{
    font-size: 1.5em;
}

.handwritten:checked ~ .newspaper-wrap
{
    font-family: 'Dancing Script', cursive;
}

.ultra:checked ~ .newspaper-wrap
{
    font-family: 'Ultra', serif;
}
