@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|Viga|Indie+Flower|Nova+Mono');

@font-face
{
    font-family: 'Special Elite';
    src: url(SpecialElite.ttf) format('truetype');
    src: url(SpecialElite.woff) format('woff');
    src: url(SpecialElite.woff2) format('woff2');
}

.large-size:checked ~ header,
.large-size:checked ~ main
{
    font-size: larger;
}

.small-size:checked ~ header,
.small-size:checked ~ main
{
    font-size: smaller;
}

.other-font:checked ~ main .container
{
    font-family: 'Indie Flower', serif;
}

.night-mode:checked ~ header,
.night-mode:checked ~ main
{
    background-color: #000;
    color: #fff;
}

header
{
    -moz-column-count: 3;
    column-count: 3;
}

.weather td
{
    text-transform: uppercase;
}

.info p
{
    margin-top: 0;
    margin-bottom: 0;
}

.weather,
.currency
{
    break-inside: avoid-column;
    text-align: start;
    font-family: 'Special Elite', serif;
}

h1
{
    text-align: center;
    font-family: 'Diplomata SC', serif;
    font-size: 3em;
}

.info
{
    -moz-column-count: 3;
    column-count: 3;
    border: 1px solid #000;
}

.head
{
    text-align: center;
    font-family: 'Special Elite', sans-serif;
}

.left,
.center,
.right
{
    -moz-column-count: 2;
    column-count: 2;
    break-inside: avoid-column;
}

.vertical-text
{
    width: 5px;
    word-break: break-all;
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
}

aside
{
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #fff;
}

.container
{
    -moz-column-count: 3;
    -moz-column-rule: 1px solid #000;
    column-count: 3;
    column-rule: 1px solid #000;
    border-top: 1px solid #000;
    font-family: 'Nova Mono', serif;
}

h3,
h5
{
    column-span: all;
}

.weather-img
{
    filter: grayscale(100%);
    width: 100%;
}

.other-news
{
    column-span: all;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}
