body
{
    font-size: 18pt;
    font-family: 'Marck Script', cursive;
    background-color: lightyellow;
    border: 2px solid lightgray;
}

header
{
    font-family: 'Coiny', cursive;
    text-align: center;
    font-size: 42pt;
    background-color: #ededed;
    text-shadow: 4px 4px #e0e0e0;
}

.date
{
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.configurations
{
    font-family: 'Coiny', cursive;
    text-align: center;
}

.articles
{
    text-overflow: ellipsis;
    padding: 5px;
    font-size: 18pt;
    font-family: 'Marck Script', cursive;
    background-color: lightyellow;
}

.col-2
{
    column-count: 2;
    column-rule: 2px solid lightgray;
}

.col-3
{
    column-count: 3;
    column-rule: 2px solid lightgray;
}

h1
{
    font-family: 'Ruslan Display', cursive;
    text-align: center;
}

h2
{
    font-family: 'Lobster', cursive;
    text-align: center;
}

blockquote
{
    margin: 7px;
    border: 1px solid lightgray;
    padding: 10px;
}

.image
{
    border: 1px solid lightgray;
    padding: 0;
    margin: 5px;
}

.image > img
{
    width: 100%;
}

.image > .signature
{
    text-align: center;
}

.first-paragraph::first-letter
{
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: lightgray;
}

.special
{
    margin-left: 45%;
    word-break: break-all;
    width: 1em;
    line-height: 1em;
    text-align: center;
    font-family: monospace;
}

.field
{
    text-indent: 15px;
    margin-top: 20px;
}

.large:checked ~ .articles
{
    font-size: 24pt;
}

.normal:checked ~ .articles
{
    font-size: 18pt;
}

.small:checked ~ .articles
{
    font-size: 14pt;
}

.marck-script:checked ~ .articles
{
    font-family: 'Marck Script', cursive;
}

.lobster:checked ~ .articles
{
    font-family: 'Lobster', cursive;
}

.ruslan-display:checked ~ .articles
{
    font-family: 'Ruslan Display', cursive;
}

.white:checked ~ .articles
{
    color: #000;
    background-color: lightyellow;
}

.black:checked ~ .articles
{
    color: #fff;
    background-color: #000;
}
