@import url('https://fonts.googleapis.com/css?family=Lobster|Neucha|Lily+Script+One|Roboto+Condensed');

@font-face
{
    font-family: 'Hagin Caps Medium';
    src: url('fonts/hagin-caps-medium.eot');
    src: url(fonts/hagin-caps-medium.eot?#iefix) format('embedded-opentype'), url(fonts/hagin-caps-medium.woff) format('woff'), url(fonts/hagin-caps-medium.tff) format('truetype');
}

@font-face
{
    font-family: 'Bermount Line';
    src: url('fonts/bemount-line.eot');
    src: url(fonts/bemount-line.eot?#iefix) format('embedded-opentype'), url(fonts/bemount-line.woff) format('woff'), url(fonts/bemount-line.tff) format('truetype');
}

@font-face
{
    font-family: 'Karton';
    src: url('fonts/karton.eot');
    src: url(fonts/karton.eot?#iefix) format('embedded-opentype'), url(fonts/karton.woff) format('woff'), url(fonts/karton.tff) format('truetype');
}

.image-container
{
    break-inside: avoid;
    display: block;
}

.article-image
{
    -webkit-column-span: all;
    column-span: all;

    display: block;
    width: 100%;
    border-radius: 8px;
    filter: sepia(75%);
}

.container
{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -moz-column-rule: 1px solid #000;
    -webkit-column-rule: 1px solid #000;
    column-rule: 1px solid #000;
}

main
{
    background-image: url(images/bg-light.jpg);
}

header
{
    font-family: 'Lily Script One', cursive;
    text-align: center;
    font-size: 3em;
}

h2
{
    -webkit-column-span: all;
    column-span: all;

    font-family: 'Lobster', cursive;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
}

h3
{
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
}

h3 + p:first-letter
{
    font-size: 2em;
}

p
{
    font-family: 'Roboto Condensed', sans-serif;
}

hr
{
    border: 0;
    border-top: 6px double #000;
}

input[value='small']:checked ~ main
{
    font-size: .7em;
}

input[value='large']:checked ~ main
{
    font-size: 1.3em;
}

input[value='dark']:checked ~ main
{
    background-image: url(images/bg-dark.jpg);
    color: #fff;
}

input[value='dark']:checked ~ main hr
{
    border-top-color: #fff;
}

input[value='dark']:checked ~ main div
{
    column-rule-color: #fff;
}

input[value='dark']:checked ~ main img
{
    filter: grayscale(100%);
}

input[value='handwriting']:checked ~ main header
{
    font-family: 'Bermount Line', cursive;
}

input[value='handwriting']:checked ~ main p
{
    font-family: 'Karton', cursive;
    font-size: 1.2em;
}

input[value='handwriting']:checked ~ main h3
{
    font-family: 'Hagin Caps Medium', cursive;
}
