@font-face
{
    font-family: 'Abhaya Libre';
    src: url('fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf'),
        url('fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.woff');
    font-weight: bold;
}

@font-face
{
    font-family: 'Indie Flower';
    src: url('fonts/Indie_Flower/IndieFlower.ttf'),
        url('fonts/Indie_Flower/IndieFlower.woff');
}

@font-face
{
    font-family: 'Cormorant Garamond Italic';
    src: url('fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf'),
        url('fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff');
}

@font-face
{
    font-family: 'Cormorant Garamond';
    src: url('fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf'),
        url('fonts/Cormorant_Garamond/CormorantGaramond-Light.woff');
}

@font-face
{
    font-family: 'Cookie Regular';
    src: url('fonts/Cookie/Cookie-Regular.ttf'), 
        url('fonts/Cookie/Cookie-Regular.woff');
}

@font-face
{
    font-family: 'Rock Salt';
    src: url('fonts/Rock_Salt/RockSalt.ttf'), 
        url('fonts/Rock_Salt/RockSalt.woff');
}

@font-face
{
    font-family: 'Playball';
    src: url('fonts/Playball/Playball-Regular.ttf'), 
        url('fonts/Playball/Playball-Regular.woff');
}

@font-face
{
    font-family: 'Fredoka One';
    src: url('fonts/Fredoka_One/FredokaOne-Regular.ttf'),
        url('fonts/Fredoka_One/FredokaOne-Regular.woff');
}

@font-face
{
    font-family: 'Trirong';
    src: url('fonts/Trirong/Trirong-Black.ttf'),
        url('fonts/Trirong/Trirong-Black.woff');
}

@font-face
{
    font-family: 'Lobster';
    src: url('fonts/Lobster/Lobster-Regular.ttf'),
        url('fonts/Lobster/Lobster-Regular.woff');
}

input[name='font_size'][value='large']:checked ~ main
{
    font-size: 1.3em;
}

input[name='font_size'][value='small']:checked ~ main
{
    font-size: .7em;
}

input[id='font_family']:checked ~ main
{
    font-family: 'Trirong';
}

input[id='color']:checked ~ main
{
    color: white;
    background: black;
}

header
{
    font-family: 'Abhaya Libre', 'Arial';
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
}

header img
{
    height: 5rem;
}

main
{
    column-count: 4;
    -moz-column-count: 4;
    column-gap: 5px;
    -moz-column-gap: 5px;
    column-rule: 3px groove darkslategray;
    -moz-column-rule: 3px groove darkslategray;
    border: 3px groove darkslategray;
    padding: 8px;
}

h1
{
    font-family: 'Indie Flower', 'Arial';
    color: #900;
    word-spacing: 1rem;
    font-size: 2rem;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
    column-span: all;
    -moz-column-span: all;
}

p
{
    text-indent: 2%;
}

p::first-letter
{
    font-family: 'Cookie Regular', 'Arial';
    font-size: 4em;
    color: crimson;
}

div.img_block
{
    column-span: all;
    width: 100%;
    border: 3px groove darkslategray;
    padding: 20px 0;
    align-content: center;
}

div.img_block img
{
    width: 50%;
    float: left;
    margin: 0 20px;
}

div.img_block div.caption
{
    display: inline-block;
    font-size: 1rem;
    width: 15rem;
    font-family: 'Cormorant Garamond', 'Arial';
}

div.img_block div.caption.q
{
    font-family: 'Cormorant Garamond Italic', 'Arial';
}

figure
{
    padding: 1%;
    margin: 0;
    height: 500%;
}

figure img
{
    width: 100%;
    display: block;
}

figcaption
{
    font-family: 'Rock Salt', 'Arial';
    font-size: .6rem;
}

p q
{
    font-family: 'Playball', 'Arial';
    text-indent: 4%;
    font-size: 120%;
}

em
{
    font-family: 'Fredoka One', 'Arial';
}

span.checkbox_caption,
.radio_caption
{
    font-family: 'Lobster';
}

p.end
{
    text-indent: 0;
    font-size: 2em;
    width: .7em;
    text-align: center;
    word-wrap: break-word;
    margin-left: 35%;
    color: inherit;
    font-family: inherit;
}
