/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

@font-face
{
    font-family: Russo One;
    src: url(fonts/RussoOne-Regular.ttf);
    src: url(fonts/RussoOne-Regular.eot);
    src: url(fonts/RussoOne-Regular.woff);
}

.big-header,
.sub-header
{
    text-transform: uppercase;
    font-family: Russo One, sans-serif;
}

.main
{
    font: 80% Work Sans, serif;
}

.big-font
{
    font-size: 5vw;
}

.medium-font
{
    font-size: 1vw;
}

.small-font
{
    font-size: .5vw;
}

/* Grid */

.column-1-3
{
    width: 33%;
    height: 100%;
    float: left;
}

.column-1-6
{
    width: 16%;
    height: 100%;
    float: left;
}

.column-2-3
{
    width: 66%;
    height: 100%;
    float: left;
}

.columns-2
{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-rule: 1px solid #d3d3d3;
    -webkit-column-rule: 1px solid #d3d3d3;
    column-rule: 1px solid #d3d3d3;
}

/* Borders */

.double-border
{
    column-rule: 2px double #d3d3d3;
}

.full-border
{
    border: 4px double #d3d3d3;
}

.right-border
{
    border-right: 4px double #d3d3d3;
}

.left-border
{
    border-left: 4px double #d3d3d3;
}

.top-border
{
    border-top: 4px double #d3d3d3;
}

.bottom-border
{
    border-bottom: 4px double #d3d3d3;
}

/* Images */

.full-height
{
    height: 100%;
}

.full-width
{
    width: 100%;
}

.image-title
{
    text-align: center;
    font-size: 19px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* Content */

.content
{
    width: 98vw;
}

.quote
{
    font-style: italic;
    margin: 10px 15px;
    padding: 10px 15px;
}

.align-center
{
    text-align: center;
}

.quote-text:before,
.quote-text:after
{
    content: '"';
}

.auto-overflow
{
    overflow: auto;
}

.vertical-text
{
    width: 2px;
    word-break: break-all;
}

.big-header
{
    width: 100%;
    height: 15vh;
    padding: 10px;
}

.sub-header
{
    width: 100%;
    height: 5vh;
    padding-top: 15px;
}

.paragraph,
.quote
{
    margin: 6px;
    text-align: justify;
}

.article
{
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.article > .article-header
{
    padding: 0;
}

/* Hacks */

/* Color */

.color-checkbox
{
    display: none;
}

.color-checkbox-label
{
    font-size: 3em;
}

.color-checkbox-label:after
{
    content: 'WHITE';
}

.color-checkbox:checked ~ .color-checkbox-label:after
{
    content: 'BLACK';
}

.color-checkbox:checked ~ .content
{
    color: rgba(255, 255, 255, .9);
    background-color: #000;
}

/* Size */

.font-size-checkbox
{
    display: none;
}

.font-size-checkbox-label
{
    font-size: 3em;
}

.font-size-checkbox-label:after
{
    content: 'SMALL';
}

.font-size-checkbox:checked ~ .font-size-checkbox-label:after
{
    content: 'BIG';
}

.font-size-checkbox:checked ~ .content
{
    font-size: 20px;
}

/* Hacks */

.font-style-checkbox
{
    display: none;
}

.font-style-checkbox-label
{
    font-size: 3em;
}

.font-style-checkbox-label:after
{
    content: 'SERIF';
}

.font-style-checkbox:checked ~ .font-style-checkbox-label:after
{
    content: 'SANS SERIF';
}

.font-style-checkbox:checked ~ .content .main
{
    font-weight: 100;
    font-family: Russo One, sans-serif;
}

.first-paragraph:first-letter
{
    font-size: xx-large;
    font-family: serif;
}

.color-checkbox-label,
.font-size-checkbox-label,
.font-style-checkbox-label
{
    border: 1px solid #d3d3d3;
    text-align: center;
}

.color-checkbox-label:hover,
.font-size-checkbox-label:hover,
.font-style-checkbox-label:hover
{
    border: 1px solid #d3d3d3;
    color: rgba(255, 255, 255, .9);
    background-color: #000;
}

